/* ------------------------------------------- Navigation List Links */

.fa-bars {
    color: #df6530;
}

#dropdownMenuButton {
    color: #df6530;
}

.nav-link {
    font-family: Montserrat, sans-serif;
    color: #df6530;
    font-size: 11pt;
    margin: 15px;
    text-align: right;
}

.a .nav-link .hover {
    color: #2a5490;
}

.active {
    color: #12a1ee;
}


/* ------------------------------------------- Home Hero Image */

.hero {
    margin-top: 100px;
    margin-bottom: 150px;
}

.home-hero {
    position: relative;
    max-width: 110%;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}


/* ------------------------------------------- Home Welcome Box */

.blue-box { 
    position: relative;
    padding: 0;
    margin: 0;
    background: #2a5490;
}

.welcome { 
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
    margin-right: 10%;
    margin-left: 10%;
    top: 60px;
    right: auto;
    height: auto; 
    width: auto;
    text-align: center;
    color: #fff; 
}


.tips { 
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-right: 10%;
    margin-left: 10%;
    top: 60px;
    right: auto;
    height: auto; 
    width: auto;
    text-align: center;
    color: #fff; 
}


/* ------------------------------------------- Why Go Tennis? */

.why-header {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}


.why-text {
    font-family: Montserrat, sans-serif;
    width: 50%;
    text-align: justify;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}

/* ------------------------------------------- About Us */

.about-section {
    background-color: #fafafa;
  } 

.about-us {
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------- About Us - How can we help you? */

  .how-we-help {
    font-family: Montserrat, sans-serif;
    text-align: justify;
    padding-bottom: 120px;
    padding-right: 30px;
    font-size: medium;
}

.fa-info-circle {
    color: #2a5490;
}

.help {
    color: #2a5490;
}


/* ------------------------------------------- About Us - Coach Adam Jameel */

.coach {
    font-family: Montserrat, sans-serif;
    text-align: justify;
    padding-bottom: 120px;
    padding-right: 30px;
    font-size: medium;
}

.fa-user-friends {
    color: #2a5490;
}

.adam {
    color: #2a5490;
}


/* ------------------------------------------- Carousel */

.carousel-text{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0;
}

.carousel-inner {
    background-color: #fff;
    margin-bottom: 100px;
}

.carousel-indicators li {
    background-color: #2a5490;
    position: relative;
}


.fa-angle-left, .fa-angle-right {
    color:#2a5490;
    font-size: 25px;
}







/* ------------------------------------------- Upload Text */

.submit-heading { 
    font-family: Montserrat, sans-serif;
    color: #2a5490;
    margin-top: 140px;
    margin-left: 61px;
   
}

p.donate {
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
    margin-left: 61px;
    margin-right: 200px;
}


.we-transfer {
    color: #2a5490;
}

.we-transfer:hover  {
    color: #df6530;
}


.fa-cc-paypal {
    color: #df6530;
    font-size: 25px;
}

.fa-cc-paypal:hover {
    color: #2a5490;
}



/* ------------------------------------------- Upload Form */




.upload-pic {
    position: absolute;
    max-width: auto;
    max-height: auto;
    padding: 0;
    z-index: -1;
}


/* taken from the Love Running Code Institute project and amended in places wo match what I am expecting to see based on my designs */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;

}

.signup-form {
    font-family: Montserrat, sans-serif;
    margin-top: 280px;
    background-color: rgba(255, 255, 255, 0.555);
    max-width: 500px;
    position: absolute;
    left: 45px;
    padding: 30px;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 0.5px solid #000000;   
}

.text-input:hover {
    border-color: #df6530;
}

.upload-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #df6530;
    border-color: #df6530;
    color: #fff;
    display: block;
}

.btn-success:hover {
    background-color: #2a5490;
    border-color: #2a5490;
}

.we-transfer {
    color: #2a5490;
    text-decoration: none !important;
}

.we-transfer .a:hover {
    color: #df6530;
}


/* ------------------------------------------- Contact Text */

.contact-heading { 
    font-family: Montserrat, sans-serif;
    color: #2a5490;
    margin-top: 140px;
    margin-left: 61px; 
}

p.contact {
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
    margin-left: 61px;
    margin-right: 200px;
}


/* ------------------------------------------- Contact Form */

.contact-pic {
    position: absolute;
    max-width: auto;
    max-height: auto;
    padding: 0;
    z-index: -1;
}

/* taken from the Love Running Code Institute project and amended in places wo match what I am expecting to see based on my designs */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    font-family: Montserrat, sans-serif;
    margin-top: 260px;
    background-color: rgba(255, 255, 255, 0.555);
    max-width: 500px;
    position: absolute;
    left: 45px;
    padding: 30px;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 0.5px solid #000000;   
}

.text-input:hover {
    border-color: #df6530;
}

.submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #df6530;
    border-color: #df6530;
    color: #fff;
    display: block;
}

.btn-success:hover {
    background-color: #2a5490;
    border-color: #2a5490;
}

.textarea {
    height: auto;
}


/* ------------------------------------------- Footer */

.footer {
    background-color: #2a5490;
    margin-top: 10px;
    min-width: 100%;
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 14.5px;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.sponsors {
    margin-top: -30px;
}

.social-media {
    font-size: 20px;
    margin-top: -30px;
    padding-right: 26px;
}

.social-media a{
    color: #fff;
}

.social-media a:hover{
    color: #c7d7f0;
}

.supporting-logos {
    margin-top: -30px;
    padding-top: 0;
}


/* ------------------------------------------- Media Queries */





@media (min-width: 992px) {
    .hero {
    max-width: 100%;
    }
}


/* @media (max-width: 800px) {
.blue-box {
    flex-direction: row;



  }
}




.blue-box { 
    position: relative;
    padding: 0;
    margin: 0;
    background: #2a5490;
}

.welcome { 
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45%;
    margin-right: 10%;
    margin-left: 10%;
    top: 60px;
    right: auto;
    height: auto; 
    width: auto;
    text-align: center;
    color: #fff; 
}


.tips { 
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-right: 10%;
    margin-left: 10%;
    top: 60px;
    right: auto;
    height: auto; 
    width: auto;
    text-align: center;
    color: #fff; 
}





*/