/* ------------------------------------------- Navigation List Links */

.fas .fa-bars{
    color: #df6530;
}

.nav-link {
    font-family: Montserrat, sans-serif;
    color: #df6530 !important;
    font-size: 11pt;
    text-align: right;
}

.nav-link a:hover{
    color: #2a5490;
}

.a:active  {
    color: #0073af;
}

*/



/* This will give you like the Love Running transparent box - you will need this for the dropdown on the nav menu and the 
forms too

background-color: rgba(241, 109, 107, .7);  

if you find the colour for white this may help

*/

/* ------------------------------------------- Home Hero Image */

.hero {
    margin-top: 150px;
    margin-bottom: 150px;
}

.home-hero {
    position: relative;
    max-width: 110%;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}


/* ------------------------------------------- Home Welcome Box */

#blue-box { 
    position: relative;
    /*left: -15px;*/
    padding: 0;
    margin: 0;
    background: #2a5490;
}

.welcome { 
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    float: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55%;
    margin-right: 10%;
    margin-left: 10%;
    top: 60px;
    right: auto;
    height: auto; 
    width: auto;
    text-align: center;
    color: #fff; 
}


.tips { 
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-right: 10%;
    margin-left: 10%;
    top: 60px;
    right: auto;
    height: auto; 
    width: auto;
    text-align: center;
    color: #fff; 
}


/* ------------------------------------------- Why Go Tennis? */

.why-header {
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}


.why-text {
    font-family: Montserrat, sans-serif;
    width: 50%;
    text-align: justify;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}

/* ------------------------------------------- About Us */

.about-section {
    background-color: #fafafa;
  } 

.about-us {
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------- About Us - How can we help you? */

  .how-we-help {
    font-family: Montserrat, sans-serif;
    text-align: justify;
    padding-bottom: 120px;
    padding-right: 30px;
    font-size: medium;
}


/* ------------------------------------------- About Us - Coach Adam Jameel */

.coach {
    font-family: Montserrat, sans-serif;
    text-align: justify;
    padding-bottom: 120px;
    padding-right: 30px;
    font-size: medium;
}


/* ------------------------------------------- Footer */

.footer-color {
    background-color: #2a5490;
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


/*.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;

}*/


#title {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: #fff;
}


.social-media {
    font-size: 20px;
    letter-spacing: 10px;
}

a{
    color: #fff;
}

a:hover{
    color: #c7d7f0;
}









/* ------------------------------------------- Upload Form */


.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
}

    
    







/* ------------------------------------------- Media Queries */

/* @media only screen and (max-width: px) 

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

*/